* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 1.6;
}

a {
  color: #103649;
  text-decoration: none;
}

.main-nav .main-menu {
  list-style: none;
  font-size: 14px;
  padding: 0 2rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  /* flex: 1; */
}

@media (max-width: 480px) .main-nav .main-menu {
  list-style: none;
  font-size: 10px;
  padding: 0 2rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  /* flex: 1; */
}

.container {
  width: 100%;
  margin: auto;
}

/* Nav */
.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.5rem;
  font-family: "Roboto", sans-serif;
}

.main-nav ul li {
  padding: 0 3rem;
}


.main-nav ul li a:hover {
  color: #88c7e8;
}

@media (max-width: 480px) .main-nav ul li a:hover {
  color: #88c7e8;
}

/* .main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
} */

.btn {
  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  border: 0;
  border-radius: 8%;
  background: #103649;
  color: #fff;
  font-size: small;
}

.btn:hover {
  color: #88c7e8;
}

/* Showcase */
.showcase {
  height: 100vh;
  background: url("/images/showcase.JPG") no-repeat center center/cover;
  border-radius: 1%;
  position: relative;
  z-index: 2;
}

#big-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.far-left {
  align-self: flex-start;
  padding: 5rem 5rem 0rem 5rem;
}

#big-head .far-left .logo {
  width: 140px;
  border-radius: 7%;
  position: relative;
  z-index: 3;
}

#big-head .more-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}

.showcase .btn {
  margin-top: 20px;
  border: 1px;
  border-radius: 1.5em;
  flex: 0 1 auto;
  align-self: center;
  padding: .5em 1.5em;
  margin: 40px 0px 0px 30px;
}

.showcase .more-center h1 {
  color: #103649;
  font-family: "Dancing Script", cursive;
  text-shadow: -1px -1px 3px #fff;
  font-size: xxx-large;
  flex: 0 1 auto;
  align-self: center;
  padding: 2rem;
}

.showcase .more-center p {
  font-family: "Dancing Script", cursive;
  text-shadow: -1px -1px 3px #fff;
  font-size: xx-large;
  color: #103649;
  line-height: 1.6px;
  letter-spacing: .8px;
  flex: 0 1 auto;
  padding: 1rem 2rem;
  align-self: center;
}

/* #big-head span {
  background: rgba(128, 188, 228, 0.2);
  border-radius: 1em;
  line-height: 1.8px;
} */

footer {
  position: absolute;
  z-index: 3;
  height: 50px;
  bottom: 5px;
  left: 0px;
  right: 0px;
  text-align: center;
}

footer .footer-content {
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

footer .social .fab {
  margin-right: 2rem;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  color: #88c7e8;
}

footer .social .fab:hover {
  color: #fff;
}

#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-evenly;
  font-family: "Roboto", sans-serif;
  color: #103649;
}

#about h4 {
  font-family: "Dancing Script", cursive;
  font-size: xxx-large;
  text-shadow: .5px .5px grey;
  padding: 1rem 2rem;

}

#about .profile {
  max-width: 200px;
  align-self: flex-start;
  flex: 0 1 auto;
}

#about .b {
  align-self: center;
  flex: 1 0 auto;
  max-width: 800px;
  letter-spacing: .5px;
  padding: 2rem 2rem 2rem 2rem;
  font-weight: bold;
}

#about .home-b {
  align-self: center;
  flex: 1 0 auto;
  max-width: 800px;
  letter-spacing: .5px;
  padding: 2rem 2rem 2rem 2rem;
  font-weight: bold;
}

.stats ul li {
  list-style: none;
}

#about .a {
  text-indent: 4em;
  font-weight: 100;

}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
  align-content: space-evenly;
  font-family: "Roboto", sans-serif;
  color: #103649;
  padding: 3rem 0rem 0rem 2rem;
}

#contact h4 {
  font-family: "Dancing Script", cursive;
  font-size: xxx-large;
  text-shadow: .5px .5px grey;
  padding: 1rem 2rem;
}

#contact ul {
  list-style: none;
}

#contact ul li {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: bold;
  padding-top: .5rem;
}

#contact ul li mark {
  padding: .4rem;
  border-radius: 5px;
  background-color: #88c7e8;
  color: #103649;
}

.home-go {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0rem 2rem 0rem 0rem;
  color: #103649;
}

.home-go .fas {
  align-self: flex-end;
}

.home-go a:hover {
  color: #88c7e8;
}

.home-go p {
  align-self: flex-end;
}

#home-a .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  position: relative;
  z-index: 4;
  font-family: "Roboto", sans-serif;
  color: #103649;
}

#home-a .container .fas {
  color: #88c7e8;
  padding-bottom: 1rem;
  align-self: center;
  flex: 0 1 auto;
  position: relative;
  z-index: 4;
}

#home-a .container h3 {
  align-self: center;
  flex: 0 1 auto;
  padding-bottom: 1rem;
}

#home-a .container .stats-title {
  font-family: "Roboto", sans-serif;
  align-self: center;
  flex: 0 1 auto;
  padding-bottom: 1rem;
}

#home-b .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 4;
  font-family: "Roboto", sans-serif;
  color: #103649;
}

#home-b .stats div {
  padding: 3rem 0;
  background: #f4f4f4;
}

#home-b .stats .stats-title {
  font-weight: bold;
  padding: 1rem;
}

#home-b .fas {
  color: #88c7e8;
  padding-bottom: 0.2rem;
  align-self: center;
}

#end-shot {
  display: flex;
  position: relative;
  height: 240px;
  max-width: 1200;
  padding: 1rem 0rem .5rem 0rem;
}

#main-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  color: #103649;
  padding: 5rem;
}


#main-projects #mePic {
  border-radius: 3%;
  height: 240px;
  position: relative;
  display: flex;

}


#main-projects h1 {
  padding: 1rem;
  align-self: center;
}

#main-projects h2 {
  padding: 1rem;
  align-self: center;
}

#main-projects h3 {
  padding: 1rem;
  align-self: center;
}

#project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#project-list .rrcalculator {
  align-self: flex-end;
  margin: 1rem 8rem 1rem 0rem;
}

.rrcalculator .btn {

  cursor: pointer;
  display: inline-block;
  letter-spacing: .5px;
  border: 0;
  border-radius: 20px;
  background: #103649;
  color: #fff;
  font-size: small;
  padding: .5rem 1rem;
}

.btn:hover {
  color: #88c7e8;
}



/* .home-go-proj ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.home-go-proj ul {
  list-style-type: none;
  margin-right: 3rem;
}

.home-go-proj li {
  padding: 1rem;

}

.home-go-proj li .fas:hover {
  color: #88c7e8;
} */